.jumbo {
  padding-right: 200px;
}
.progressBar {
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  background-color: #56a5ec;
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
}
.inactive {
  color: white;
  padding-right: 25px;
}
.brand {
  font-size: 1.5em !important;
  color: white;
}

.color.nav {
  color: black;
}

.clients {
  padding-top: 40px;
  background-color: #98afc7;
  color: white;
}
.clients th {
  color: white;
  font-size: 1.3em;
}
.messages {
  padding-left: 40px;
  padding-top: 40px;
  color: white;
  background-color: #98afc7;
}
.register {
  margin-top: 15rem;
  margin-bottom: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border: none;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background-color: #98afc7;
}
.routines {
  color: white;
  background-color: #98afc7;
}
.routines h1 {
  padding-top: 40px;
  text-align: center;
}
.routines h5 {
  color: rgb(97, 97, 97);
}
.workouts {
  background-color: #98afc7 !important;
  color: white !important;
  padding-top: 3%;
}
.workouts table {
  color: white;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  flex-direction: column;
}
.title {
  color: #98afc7;
  margin-bottom: 15px;
  margin-top: 0;
}

.shaded {
  border-radius: 3rem !important;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  width: 300px;
}

html {
  height: 100%;
  background-color: #98afc7 !important;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #98afc7 !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  margin-top: 200px;
  margin-bottom: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background-color: #98afc7;
}

.dash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  min-height: 300px;
  max-width: 100%;
  border-radius: 7rem;
  color: inherit;
  text-decoration: none;
  background-color: #98afc7;
}
.dash button {
  width: 250px;
  height: 180px;
}
.topDash {
  margin-left: 20px;
  background-color: #98afc7;
  color: white;
  padding-top: 50px;
}
.dashDivider {
  width: 30px;
  height: auto;
  display: inline-block;
  background-color: #98afc7;
}
.divider {
  width: 15px;
  height: auto;
  display: inline-block;
  background-color: #98afc7;
}

.space {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}
