.jumbo {
  padding-right: 200px;
}
.progressBar {
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar {
  color: inherit;
  text-decoration: none;
}

.register {
  margin-top: 15rem;
  margin-bottom: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border: none;
  padding: 0;
  flex-direction: column;
  text-align: center;
  color: white;
}
.title {
  color: white;
  margin-bottom: 15px;
  margin-top: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  width: 300px;
}

html {
  height: 100%;
  background: linear-gradient(180deg, #e0c3fc, #8ec5fc);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background: linear-gradient(180deg, #e0c3fc, #8ec5fc);
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  margin-top: 200px;
  margin-bottom: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border: none;
  padding: 0;
  flex-direction: column;
  text-align: center;
  color: white;
}

.dash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  min-height: 300px;
  max-width: 100%;
  color: inherit;
  text-decoration: none;
}

.topDash {
  margin-left: 20px;
}

.dashDivider {
  width: 30px;
  height: auto;
  display: inline-block;
}
.divider {
  width: 15px;
  height: auto;
  display: inline-block;
}
