:root {
  --white1: #f0f4f8;
  --secondaryColor: #486581;
  --primaryColor: #9fb3c8;
}
.fixRow {
  margin-right: 0 !important;
}
.testimonials {
  margin-top: 2rem;
  margin-left: 89px;
}
.profile {
  color: var(--white1);
}
.profileInfo {
  margin-top: 2rem;
  height: 50%;
  margin-right: 15rem;
}

.programs {
  margin-left: 4rem;
  margin-right: 10rem;
}
.jumbo {
  width: 20rem;
  height: 15rem;
  border-radius: 12rem !important;
}

.bigJumbo {
  width: 25rem;
  min-height: 45rem;
  max-height: 60rem;
  border-radius: 8rem !important;
  margin-bottom: -21rem !important;
}

.greeting {
  margin-top: 2rem;
}

.progressBar {
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  background-color: var(--secondaryColor);
  text-decoration: none;
  font-size: 1.6em;
  font-weight: bold;
  color: var(--white1);
}

.inactive {
  color: var(--white1);
  padding-right: 25px;
}
.brand {
  font-size: 1.5em !important;
  color: var(--white1);
}

.color.nav {
  color: black;
}

.clients {
  padding-top: 40px;
  background-color: var(--primaryColor);
  color: var(--white1);
}
.clients th {
  color: var(--white1);
  font-size: 1.3em;
}
.messages {
  padding-left: 40px;
  padding-top: 40px;
  color: var(--white1);
  background-color: var(--primaryColor);
}
.register {
  margin-top: 15rem;
  margin-bottom: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  border: none;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background-color: var(--primaryColor);
}
.routines {
  color: var(--white1);
  background-color: var(--primaryColor);
}
.routines h1 {
  padding-top: 40px;
  text-align: center;
}
.routines h5 {
  color: rgb(97, 97, 97);
}
.workouts {
  background-color: var(--primaryColor) !important;
  color: var(--white1) !important;
  padding-top: 3%;
}
.workouts table {
  color: var(--white1);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-align: center;
  flex-direction: column;
}
.title {
  color: var(--primaryColor);
  margin-bottom: 15px;
  margin-top: 0;
}

.shaded {
  border-radius: 3rem !important;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  width: 300px;
}

html {
  height: 100%;
  background-color: var(--primaryColor) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: var(--primaryColor) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  margin-top: 200px;
  margin-bottom: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  flex-direction: column;
  text-align: center;
  background-color: var(--primaryColor);
}

.dash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  min-height: 300px;
  max-width: 100%;
  border-radius: 7rem;
  color: inherit;
  text-decoration: none;
  background-color: var(--primaryColor);
}
.dash button {
  width: 250px;
  height: 180px;
  color: var(--secondaryColor);
  background-color: var(--white1);
}
.topDash {
  margin-left: 20px;
  background-color: var(--primaryColor);
  color: var(--white1);
  padding-top: 50px;
}
.dashDivider {
  width: 30px;
  height: auto;
  display: inline-block;
}
.divider {
  width: 15px;
  height: auto;
  display: inline-block;
  background-color: var(--primaryColor);
}

.space {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}
